@keyframes arrowAnimotion {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(50px);
    }
    30% {
        transform: translateY(40px);
    }
    55% {
        transform: translateY(50px);
    }
    60% {
        transform: translateY(40px);
    }
    85% {
        transform: translateY(50px);
    }
    90% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@-moz-keyframes arrowAnimotion {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(50px);
    }
}

@-webkit-keyframes arrowAnimotion {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}

@-o-keyframes arrowAnimotion {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(50px);
    }
}

@-ms-keyframes arrowAnimotion {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(50px);
    }
}

/*titleChange动画*/
@keyframes titleChange {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    50% {
        transform: scale(0.5, 0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@-moz-keyframes titleChange {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    50% {
        transform: scale(0.5, 0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes titleChange {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    50% {
        transform: scale(0.5, 0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@-o-keyframes titleChange {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    50% {
        transform: scale(0.5, 0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@-ms-keyframes titleChange {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    50% {
        transform: scale(0.5, 0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

/*wordsChange动画*/
@keyframes wordsChange {
    0% {
        transform: translateY(3400px);
    }
    100% {
        transform: translateY(0px);
    }
}

@-moz-keyframes wordsChange {
    0% {
        -moz-transform: translateY(3400px);
    }
    100% {
        -moz-transform: translateY(0px);
    }
}

@-webkit-keyframes wordsChange {
    0% {
        -webkit-transform: translateY(3400px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}

@-o-keyframes wordsChange {
    0% {
        -o-transform: translateY(3400px);
    }
    100% {
        -o-transform: translateY(0px);
    }
}

@-ms-keyframes wordsChange {
    0% {
        -ms-transform: translateY(3400px);
    }
    100% {
        -ms-transform: translateY(0px);
    }
}
