@charset "utf-8";
@keyframes arrowAnimotion {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(50px);
  }
  30% {
    transform: translateY(40px);
  }
  55% {
    transform: translateY(50px);
  }
  60% {
    transform: translateY(40px);
  }
  85% {
    transform: translateY(50px);
  }
  90% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes arrowAnimotion {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
@-webkit-keyframes arrowAnimotion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes arrowAnimotion {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
@-ms-keyframes arrowAnimotion {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
/*titleChange动画*/
@keyframes titleChange {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes titleChange {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes titleChange {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-o-keyframes titleChange {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-ms-keyframes titleChange {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
/*wordsChange动画*/
@keyframes wordsChange {
  0% {
    transform: translateY(3400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes wordsChange {
  0% {
    -moz-transform: translateY(3400px);
  }
  100% {
    -moz-transform: translateY(0px);
  }
}
@-webkit-keyframes wordsChange {
  0% {
    -webkit-transform: translateY(3400px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@-o-keyframes wordsChange {
  0% {
    -o-transform: translateY(3400px);
  }
  100% {
    -o-transform: translateY(0px);
  }
}
@-ms-keyframes wordsChange {
  0% {
    -ms-transform: translateY(3400px);
  }
  100% {
    -ms-transform: translateY(0px);
  }
}
html .cyResetPassword,
body .cyResetPassword {
  width: 380px;
  overflow: hidden;
  border-radius: 2px;
  background-color: #ffffff;
  /* .form-group{
       margin:10px 0;
     }*/
}
html .cyResetPassword em,
body .cyResetPassword em {
  display: inline-block;
  width: 6px;
}
html .cyResetPassword .cyResetPassword-top,
body .cyResetPassword .cyResetPassword-top {
  width: 333px;
  height: 50px;
  position: relative;
}
html .cyResetPassword .cyResetPassword-top .cyclose,
body .cyResetPassword .cyResetPassword-top .cyclose {
  background: url(../images/index/close01.png) no-repeat center center;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: 345px;
  font-size: 26px;
  cursor: pointer;
  color: #666;
  opacity: 1;
}
html .cyResetPassword .cyResetPassword-top .cylogo,
body .cyResetPassword .cyResetPassword-top .cylogo {
  position: absolute;
  width: 119px;
  height: 23px;
  top: 45px;
  left: 152px;
  font-size: 20px;
  color: #333;
}
html .cyResetPassword .cyResetPassword-top .cyResetPasswordf,
body .cyResetPassword .cyResetPassword-top .cyResetPasswordf {
  position: absolute;
  width: 85px;
  height: 23px;
  top: 50px;
  left: 357px;
  color: red;
  text-indent: 21px;
  background: url("../images/cy01.gif") no-repeat;
  background-position: 1px 2px;
  cursor: pointer;
}
html .cyResetPassword .cyResetPassword-top .cyResetPasswordf span:hover,
body .cyResetPassword .cyResetPassword-top .cyResetPasswordf span:hover {
  text-decoration: underline;
}
html .cyResetPassword .cyResetPassword-top .cyResetPasswordhint,
body .cyResetPassword .cyResetPassword-top .cyResetPasswordhint {
  position: absolute;
  height: 20px;
  line-height: 20px;
  top: 147px;
  left: 40px;
  color: #ff4012;
  font-size: 14px;
  text-indent: 21px;
  background: url("../images/alter_14.png") no-repeat;
  background-position: 1px 2px;
  display: none;
}
html .cyResetPassword .cyResetPassword-bottom,
body .cyResetPassword .cyResetPassword-bottom {
  position: relative;
}
html .cyResetPassword .cyResetPassword-bottom .cyResetPasswordClose,
body .cyResetPassword .cyResetPassword-bottom .cyResetPasswordClose {
  background: url(../images/index/delete.png) no-repeat center center;
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  color: #333;
  top: 2px;
  left: 283px;
  font-size: 26px;
  cursor: pointer;
}
html .cyResetPassword .cyResetPassword-bottom input,
body .cyResetPassword .cyResetPassword-bottom input {
  width: 300px;
  height: 46px;
  outline: none;
  display: block;
  margin-top: 22px;
  text-indent: 0;
  border: none;
  /* border: 1px solid #bdbdbd;*/
  font-size: 14px;
  color: #333;
  background-color: #f5f5f5;
  position: relative;
  margin-left: 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
html .cyResetPassword .cyResetPassword-bottom input:focus,
body .cyResetPassword .cyResetPassword-bottom input:focus {
  border: 1px solid #2cb82c;
}
html .cyResetPassword .cyResetPassword-bottom div > span.email-logo,
body .cyResetPassword .cyResetPassword-bottom div > span.email-logo {
  visibility: hidden;
  width: 25px;
  height: 16px;
  position: absolute;
  top: 9px;
  left: 30px;
  z-index: 9999;
  background: url("../images/index/email.png") no-repeat;
  margin-right: 10px;
}
html .cyResetPassword .cyResetPassword-bottom .group-code,
body .cyResetPassword .cyResetPassword-bottom .group-code {
  overflow: hidden;
}
html .cyResetPassword .cyResetPassword-bottom .group-code .input-code,
body .cyResetPassword .cyResetPassword-bottom .group-code .input-code {
  width: 190px;
  float: left;
  margin-top: 0;
  margin-left: 40px;
  padding: 0;
  border-radius: 0;
  text-indent: 10px;
}
html .cyResetPassword .cyResetPassword-bottom .group-code .btndisabled,
body .cyResetPassword .cyResetPassword-bottom .group-code .btndisabled {
  pointer-events: none;
}
html .cyResetPassword .cyResetPassword-bottom .cyinput1,
body .cyResetPassword .cyResetPassword-bottom .cyinput1 {
  background-position: 5px 1px;
  margin-left: 40px;
  text-indent: 10px;
  border-radius: 0;
  margin-top: 49px;
  padding: 0;
}
html .cyResetPassword .cyResetPassword-bottom .cyinput2,
body .cyResetPassword .cyResetPassword-bottom .cyinput2 {
  background-position: 12px 1px;
  text-indent: 10px;
  border-radius: 0;
  padding: 0;
}
html .cyResetPassword .cyResetPassword-bottom div,
body .cyResetPassword .cyResetPassword-bottom div {
  position: relative;
}
html .cyResetPassword .cyResetPassword-bottom div .cyResetPasswordbutton,
body .cyResetPassword .cyResetPassword-bottom div .cyResetPasswordbutton {
  font-size: 14px;
  color: #fff;
  line-height: 35px;
  cursor: pointer;
  position: absolute;
  outline: none;
  width: 110px;
  height: 46px;
  top: 0px;
  left: 230px;
  border: none;
  border-radius: 2px;
  text-align: center;
  background-color: #2cb82c;
}
html .cyResetPassword .cyResetPassword-bottom div button:hover,
body .cyResetPassword .cyResetPassword-bottom div button:hover {
  opacity: 0.8;
}
html .cyResetPassword .cyResetPassword-bottom #resetPwd,
body .cyResetPassword .cyResetPassword-bottom #resetPwd {
  margin-top: 49px;
}
html .cyResetPassword .cyResetPassword-bottom .cyResetPasswordbutton1,
body .cyResetPassword .cyResetPassword-bottom .cyResetPasswordbutton1 {
  font-size: 16px;
  display: block;
  width: 300px;
  height: 39px;
  background-color: #2cb82c;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin-bottom: 8px;
  margin-left: 40px;
}
html .cyResetPassword .cyResetPassword-bottom .cyResetPasswordbutton1:hover,
body .cyResetPassword .cyResetPassword-bottom .cyResetPasswordbutton1:hover {
  opacity: 0.8;
}
html .cyResetPassword .cyResetPassword-bottom .yes-resetPassword,
body .cyResetPassword .cyResetPassword-bottom .yes-resetPassword {
  font-size: 14px;
  display: block;
  margin: 0 auto;
  width: 298px;
  height: 39px;
  background-color: #2cb82c;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin-top: 25px;
  margin-bottom: 8px;
  margin-left: 40px !important;
}
html .cyResetPassword .cyResetPassword-bottom .yes-resetPassword:hover,
body .cyResetPassword .cyResetPassword-bottom .yes-resetPassword:hover {
  opacity: 0.8;
}
html .cyResetPassword .cyResetPassword-bottom .enter-imt,
body .cyResetPassword .cyResetPassword-bottom .enter-imt {
  margin-left: 40px;
  font-size: 14px;
  margin-bottom: 50px;
  color: #999;
}
html .cyResetPassword .cyResetPassword-bottom .enter-imt .btn-register,
body .cyResetPassword .cyResetPassword-bottom .enter-imt .btn-register {
  color: #2CB82C;
  cursor: pointer;
}
.form-reset-password2 .group-password-strength .pass {
  width: 80px;
  background-color: #6b6b6b;
  display: inline-block;
  margin-right: 8px;
  text-align: center;
  color: white;
  padding: 0px 0px;
  font-size: 12px;
}
.form-reset-password2 .group-password-strength {
  margin: 15px auto 0;
  width: 298px;
  margin-bottom: 15px;
  margin-left: 20px !important;
}
.form-reset-password2 .group-password-strength .pass.one {
  background-color: #e0e0e0;
}
.form-reset-password2 .group-password-strength .pass.two {
  background-color: #cecece;
}
.form-reset-password2 .group-password-strength .pass.three {
  background-color: #b9b7b7;
}
.form-reset-password2 .group-password-strength .cymreg {
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  color: red;
  font-size: 12px;
  text-indent: 21px;
  /* background: url("../images/alter.png") no-repeat;*/
  background-position: 1px 2px;
}
